In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from statsmodels.tsa.api import VAR, DynamicVAR
from statsmodels.tsa.base.datetools import dates_from_str
import datetime

from IO import get_data

In [21]:
# Check whether one time series G-causes the other
#    model:
#           y_t = Sum_{j=1}^p A_{11, j} x_{t-j} + Sum_{j=1}^p A_{12, j} y_{t-j} + Error
#    inputs:
#           data: T x 3 numpy array, where T = number of time steps
#               column 1: time index
#               column 2: x_t, regressor time trend
#               column 3: y_t: dependent variable time trend
#    output:
#           logarithm of F-statistic from F-Test with null hypothesis A_{12}| = 0
def granger_causes(ndata):
    data = pd.DataFrame(ndata[:,1:], columns=["aapl", "amzn", "goog", "adi"])
    date_col = [datetime.datetime.fromtimestamp(x) for x in ndata[:,[0]]]
    dates = pd.Series(date_col)
    data.index = dates
    print(data)
    model = VAR(data)
    results = model.fit(2)
    results.test_causality("adi", ["aapl"], kind='f')

In [22]:
d = get_data(["data/AAPL.csv", "data/AMZN.csv", "data/GOOG.csv", "data/ADI.csv"])

Reading data/AAPL.csv
Reading data/AMZN.csv
Reading data/GOOG.csv
Reading data/ADI.csv

In [23]:
granger_causes(d)

                           aapl        amzn        goog        adi
1970-01-09 06:16:52    2.250714   40.259998   49.813286  36.259998
1970-01-09 06:16:53    2.193571   38.459999   50.316402  36.630001
1970-01-09 06:16:56    2.204286   39.889999   55.168217  36.770000
1970-01-09 06:16:57    2.232857   39.720001   55.412300  36.970001
1970-01-09 06:16:58    2.276428   39.060001   52.284027  35.040001
1970-01-09 06:16:59    2.360000   40.180000   52.279045  35.500000
1970-01-09 06:17:00    2.477143   40.320000   53.848164  35.180000
1970-01-09 06:17:03    2.428571   39.880001   52.443428  35.090000
1970-01-09 06:17:04    2.433571   38.380001   50.958992  34.400002
1970-01-09 06:17:05    2.450000   38.230000   51.158245  34.750000
1970-01-09 06:17:06    2.535714   38.040001   49.409801  34.869999
1970-01-09 06:17:07    2.500714   39.009998   50.286514  35.000000
1970-01-09 06:17:11    2.528571   39.150002   50.316402  34.599998
1970-01-09 06:17:12    2.550000   38.490002   50.181908  33.599998
1970-01-09 06:17:13    2.578571   38.240002   51.073563  34.360001
1970-01-09 06:17:14    2.547143   38.130001   50.610302  35.799999
1970-01-09 06:17:17    2.562857   39.130001   53.115910  38.099998
1970-01-09 06:17:18    2.517143   40.200001   53.524376  37.849998
1970-01-09 06:17:19    2.525714   42.049999   55.073570  37.849998
1970-01-09 06:17:20    2.514286   42.389999   55.960247  36.730000
1970-01-09 06:17:21    2.610714   42.849998   56.996365  36.939999
1970-01-09 06:17:24    2.634286   42.709999   58.256641  37.250000
1970-01-09 06:17:25    2.696429   43.570000   59.681301  39.290001
1970-01-09 06:17:26    2.721429   43.150002   58.480801  39.150002
1970-01-09 06:17:27    2.645714   41.330002   59.198112  38.380001
1970-01-09 06:17:28    2.675000   41.810001   60.244190  38.439999
1970-01-09 06:17:31    2.639286   40.910000   59.556767  36.650002
1970-01-09 06:17:32    2.675714   40.150002   60.423519  37.310001
1970-01-09 06:17:33    2.709286   39.450001   63.113434  37.480000
1970-01-09 06:17:34    2.785714   40.549999   64.707458  38.650002
...                         ...         ...         ...        ...
1970-01-09 07:33:32  141.500000  851.679993  820.080017  81.860001
1970-01-09 07:33:35  139.389999  838.070007  806.950012  81.000000
1970-01-09 07:33:36  140.910004  851.750000  820.409973  81.309998
1970-01-09 07:33:37  143.679993  859.049988  825.000000  81.889999
1970-01-09 07:33:38  144.190002  874.950012  833.500000  81.870003
1970-01-09 07:33:39  143.720001  877.000000  828.969971  82.050003
1970-01-09 07:33:42  143.710007  888.000000  829.219971  82.019997
1970-01-09 07:33:43  143.250000  891.500000  831.359985  80.809998
1970-01-09 07:33:44  144.220001  910.820007  835.510010  81.589996
1970-01-09 07:33:45  144.289993  913.799988  832.400024  80.110001
1970-01-09 07:33:46  143.729996  899.650024  827.960022  80.300003
1970-01-09 07:33:49  143.600006  899.630005  825.390015  80.000000
1970-01-09 07:33:50  142.940002  907.039978  824.710022  78.940002
1970-01-09 07:33:51  141.600006  903.090027  821.929993  78.269997
1970-01-09 07:33:52  141.910004  891.450012  822.140015  76.870003
1970-01-09 07:33:56  141.479996  887.500000  825.010010  76.779999
1970-01-09 07:33:57  141.410004  900.989990  834.219971  75.830002
1970-01-09 07:33:58  141.880005  907.840027  839.789978  77.690002
1970-01-09 07:33:59  141.220001  899.700012  841.440002  77.519997
1970-01-09 07:34:00  142.440002  902.669983  842.880005  77.199997
1970-01-09 07:34:03  143.500000  908.679993  851.200012  79.470001
1970-01-09 07:34:04  143.910004  907.039978  865.000000  79.400002
1970-01-09 07:34:05  144.470001  910.299988  874.229980  79.410004
1970-01-09 07:34:06  143.919998  914.390015  873.599976  78.650002
1970-01-09 07:34:07  144.089996  948.830017  910.659973  77.860001
1970-01-09 07:34:10  145.100006  927.799988  901.940002  75.050003
1970-01-09 07:34:11  147.539993  946.650024  909.619995  76.480003
1970-01-09 07:34:12  145.589996  946.000000  914.859985  75.309998
1970-01-09 07:34:13  146.520004  944.750000  926.070007  75.739998
1970-01-09 07:34:14  146.759995  940.520020  933.539978  75.779999

[3201 rows x 4 columns]
Granger causality f-test
===============================================================
   Test statistic   Critical Value          p-value          df
---------------------------------------------------------------
         1.417704         2.996436            0.242  (2, 12760)
===============================================================
H_0: ['aapl'] do not Granger-cause adi
Conclusion: fail to reject H_0 at 5.00% significance level

In [106]:
mdata = sm.datasets.macrodata.load_pandas().data
dates = mdata[['year', 'quarter']].astype(int).astype(str)
quarterly = dates["year"] + "Q" + dates["quarter"]
type(dates["quarter"])
#quarterly = dates_from_str(quarterly)

pandas.core.series.Series

In [85]:
print(quarterly)

0      1959Q1
1      1959Q2
2      1959Q3
3      1959Q4
4      1960Q1
5      1960Q2
6      1960Q3
7      1960Q4
8      1961Q1
9      1961Q2
10     1961Q3
11     1961Q4
12     1962Q1
13     1962Q2
14     1962Q3
15     1962Q4
16     1963Q1
17     1963Q2
18     1963Q3
19     1963Q4
20     1964Q1
21     1964Q2
22     1964Q3
23     1964Q4
24     1965Q1
25     1965Q2
26     1965Q3
27     1965Q4
28     1966Q1
29     1966Q2
        ...
173    2002Q2
174    2002Q3
175    2002Q4
176    2003Q1
177    2003Q2
178    2003Q3
179    2003Q4
180    2004Q1
181    2004Q2
182    2004Q3
183    2004Q4
184    2005Q1
185    2005Q2
186    2005Q3
187    2005Q4
188    2006Q1
189    2006Q2
190    2006Q3
191    2006Q4
192    2007Q1
193    2007Q2
194    2007Q3
195    2007Q4
196    2008Q1
197    2008Q2
198    2008Q3
199    2008Q4
200    2009Q1
201    2009Q2
202    2009Q3
dtype: object